build
/node_modules
/.idea
/cjson.so
*.o
3rdlibs/**/*.a
3rdlibs/**/*.so
3rdlibs/LuaJIT/src/lj_bcdef.h
3rdlibs/LuaJIT/src/lj_ffdef.h
3rdlibs/LuaJIT/src/lj_folddef.h
3rdlibs/LuaJIT/src/lj_libdef.h
3rdlibs/LuaJIT/src/lj_recdef.h
3rdlibs/LuaJIT/src/lj_vm.S
3rdlibs/LuaJIT/src/luajit
3rdlibs/LuaJIT/src/host/buildvm
3rdlibs/LuaJIT/src/host/buildvm_arch.h
3rdlibs/LuaJIT/src/host/minilua
3rdlibs/LuaJIT/src/jit/vmdef.lua
